* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Idroid";
  src: url("./fontes/idroid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #84e1ad;
}

header {
  background-image: linear-gradient(to bottom, #3cdb83, #1a5c38);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

nav ul li {
  font-weight: bold;
  padding: 10px;
}

nav ul li:hover {
  cursor: pointer;
  font-size: 18px;
  background-color: #1f5f3c;
  transition: 1s;
  border-radius: 10px;
  font-weight: bolder;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primeira-section {
  background-color: #ffffff;
  width: 80vw;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

section {
  font-family: Arial, Helvetica, sans-serif;
}

section h1,
section h2 {
  font-family: Idroid, Arial, Helvetica, sans-serif;
  color: #1a5b37;
  background-image: linear-gradient(to right, #a4e7c2, #ffffff);
}

article {
  background-color: #1a5c38;
  width: 80vw;
  padding: 20px;
  display: flex;
  justify-content: center;
}

section h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #2fa866;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}

.segunda-section {
  background-color: #ffffff;
  width: 80vw;
  height: 100%;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
}

.div-final {
  background-color: #c5ebd6;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-final ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  list-style-type: "\2714\00A0";
  list-style-position: inside;
}

abbr{
  text-decoration: none;
}

.div-imagem {
  display: flex;
  justify-content: center;
}

.fotoRobos {
  width: 70vw;
}

.fotoIrina {
  width: 70vw;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #1a5c38;
  text-align: center;
  margin-top: 10px;
  padding: 15px;
}

footer span {
  font-weight: 800;
}

@media screen and (max-width: 653px) {
  iframe {
    width: 86vw;
  }
}

@media screen and (max-width: 556px) {
  .div-final ul {
    gap: 0px;
    justify-content: space-between;
  }
}
